# Temporaires
*~

# Compilation
*build/
*CMakeFiles/
*.cmake
*Makefile
*/CMakeCache.txt

# Stylé kdevelop 
.kdev4/

# Générés par Lex et Yacc
*.tab.*
*.yy.c
*.yy.cpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc_*.cpp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
verificateur
NomApp

# Autre 
fichierRes.txt
resAnalyseur.txt